# Default ignored files
/../../Reverse Integer /.idea/shelf/
/../../Reverse Integer /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Reverse Integer /.idea/httpRequests/
# Datasource local storage ignored files
/../../Reverse Integer /.idea/dataSources/
/../../Reverse Integer /.idea/dataSources.local.xml
